@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

nav ul li {
  margin-left: 15px;
}

.row {
  margin: 0;
  padding: 0;
}

.form-pg {
  padding-right: 200px !important;
}

.logimg {
  width: 100%;
  height: 100vh;
}

.login-text,
.popular-text,
.organic-text,
.high-text,
.bulk,
.offer,
.sub, .footer-h6, h6, .text-button h1, .wish, .bill, .about {
  font-family: "Roboto", sans-serif;
  color: #00a859;
}

.sign-btn,
.forget-btn {
  background: none;
  outline: none;
  border: none;
  color: #f58634;
  cursor: pointer;
}

.input-area {
  border-radius: none;
  border: none;
  border-bottom: 1px solid #e8ecef;
}

::placeholder {
  color: #7c797a !important;
  font-family: "Inter", sans-serif !important;
}

.checkbox {
  width: 24px;
  height: 24px;
}

.forget-btn {
  color: #00a859;
}

.submit-btn {
  background: #00a859;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  height: 48px;
}

.submit-btn:hover {
  color: #00a859;
  background: #ffffff;
  border: 1px solid #00a859;
}

.popular-text,
.organic-text,
.offer {
  color: #0f0b0b;
}

.hero-section {
  height:100vh;
  position: relative;
}

.hero-bottom img {
  height: 100%
}

.hero-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-button span{
  color: #f58634;
}

.text-button button{
  background-color: #f58634;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

.organic-card img {
  width: 100%;
}

.snacks {
  color: #f58634;
}

.italic-text {
  height: auto;
  border-left: 7px solid #82cb0c;
}

.sign {
  font-family: "Calligraffitti", cursive;
  margin-bottom: -5px;
}

.bulk-order {
  width: 100%;
  height: auto;
  background-color: #efffe5;
}

.bulk-card {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.newsletter {
  background-color: #efffe5;
  height: auto;
  padding-top: 150px;
  padding-bottom: 100px;
}




.text-input {
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input-sec {
  width: auto;
  height: auto;
  background-color: #ffffff;
  border-radius: 12px;
}

.input-sec-input {
  border: none;
}

footer {
  background-color: #1B2432;
}

.footer-h6,h6 {
  color: #ffffff;
}

.links p {
  color: #A6B6B6;
}

.increament-div span {
  border: 1px solid #C4D1D0;
}

.increase {
  cursor: pointer;
  border: none;
  background-color: #C4D1D0;
}

.check-input input, select {
  height: 60px;
  border: 1px solid #C4D1D0 !important;
}

.check-input textarea {
  border: 1px solid #C4D1D0 !important;
}

.check-input p {
  color: #131717;
}

.price-details {
  border-top: 1px solid #C4D1D0;
  border-bottom: 1px solid #C4D1D0;
}

.done-btn, .cancel-btn:hover, .add-cart {
  background-color: #00A859;
  color: #ffffff;
  border: none;
  outline: none;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn, .done-btn:hover, .add-cart:hover {
  background-color: #ffffff;
  color: #00A859;
  border: 1px solid #00A859;
  outline: none;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-checks {
  border-bottom: 1px solid #C4D1D0;
}

.pay-btn {
  background-color: #F58634;
  color: #ffffff;
  border: none; 
  outline: none;
  border-radius: 5px;
  height: 60px;
}

.pay-btn:hover {
  background-color: #ffffff;
  color: #F58634;
  border: 1px solid #F58634;
}

@media (max-width: 991.98px) {
 .text-input {
  width: 100%;
 }

 .newsletter-image img {
  display: none;
 }

 .newsletter {
  background-color: #00A859;
  padding-bottom: 50px;
  margin-bottom: 50px;
 }
}



@media (max-width: 600px) {
.bulk-card{
  width: 100% !important;
}

.btns {
  display: flex;
}

.cancel-btn, .done-btn {
  width: 50% !important; 
}

br {
  display: none;
}

.high-p {
  font-size: 30px;
  text-align: center;
}
}