@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.row {
    margin: 0;
    padding: 0;
}

.form-pg{
    padding-right: 200px !important;
}

.logimg {
    width: 100%;
    height: 100vh;
}

.login-text, .popular-text, .organic-text, .high-text, .bulk, .offer {
    font-family: "Roboto", sans-serif;
    color: #00A859;
}

.sign-btn, .forget-btn {
    background: none;
    outline: none;
    border: none;
    color: #F58634;
    cursor: pointer;
}

.input-area{
    border-radius: none;
    border: none;
    border-bottom: 1px solid #E8ECEF;
}

::placeholder {
    color: #7C797A !important;
    font-family: "Inter", sans-serif !important;
}

.checkbox {
    width: 24px;
    height: 24px;
}

.forget-btn{
    color: #00A859;
}

.submit-btn {
    background: #00A859;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    height: 48px;
}

.submit-btn:hover {
    color: #00A859;
    background: #FFFFFF;
    border: 1px solid #00A859;
}

.popular-text, .organic-text, .offer{
    color: #0F0B0B;
}

.organic-card img{
    width: 100%;

}

.snacks {
    color: #F58634;
}

.italic-text {
    height: auto;
    border-left: 7px solid #82CB0C;
}

.sign {
    font-family: "Calligraffitti", cursive;
    margin-bottom: -5px;
}

.bulk-order {
    width: 100%;
    height: auto;
    background-color: #EFFFE5;
}

.bulk-card{
    background-color: #FFFFFF;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}